*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

@font-face {
    font-family: 'Roboto';
    src: url();
}

html{
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Navbar */

nav{
    top: 0;
    position: sticky;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    max-height: 15vh;
}

.logo{
    width: 30vw;
    max-width: 30vh;
    height: auto;
    
    flex : initial;
}

.onglets{
    /* margin: 20px; */
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
}

.menu{
    display: flex;
    font-size: min(1.5vw, 2vh);
    font-weight: bold;
    transition: all 0.3s ease;
}

.menu a{
    font-family: 'Roboto', sans-serif;
    box-shadow: inset 0 0 0 0 #007179;
    color: rgb(0, 0, 0);
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
    text-decoration: none;

}

.menu a:hover{

    color: #fff;
    box-shadow: inset 300px 0 0 0 #007179;;

}











/* Caroussel */


.messageBienvenue{
    position: absolute; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 80vw;
    background-color: #003b3f54;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    z-index: 1;
    left: 10vw;
    top: 10vh;
}

.messageBienvenue h1{
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 10px;
}

.LogoGrand{
    width: 50vw;
    max-width: 50vh;
    height: auto;
    margin: 0 0 5vh 0;

}





@keyframes display {
0% {
    transform: translateX(50%);
    opacity: 0;
}
10% {
    transform: translateX(0);
    opacity: 1;
}
20% {
    transform: translateX(0);
    opacity: 1;
}
30% {
    transform: translateX(-50%);
    opacity: 0;
}
100% {
    transform: translateX(-50%);
    opacity: 0;
}
}

.pic-ctn {
background-color: #000000;
position: relative;
width: 100vw;
height: 85vh;
}

.pic-ctn > img {
position: absolute;
top: 0;
/* left: calc(50% - 100px); */
opacity: 0;
animation: display 10s infinite;
height: inherit;
width: 100%;
object-fit: cover;
}

img:nth-child(2) {
animation-delay: 2s;
}
img:nth-child(3) {
animation-delay: 4s;
}
img:nth-child(4) {
animation-delay: 6s;
}
img:nth-child(5) {
animation-delay: 8s;
}

/* Section 1 */

.section1{
    width: 100%;
    min-height: 80vh;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
}

.section1 h2{
    font-size: 2vw;
    font-weight: bold;
    margin: 4vw;
}


.coachCardContainer{
    width: 100%;
    min-height: 40vh;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    margin-bottom: 5vh;
    flex-wrap: wrap;
}

.coachCard{
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: center; */
    align-items: start;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    width: 250px;
    height: 300px;
    border-radius: 10px;

    box-shadow: -1px 10px 20px 0px rgba(0,0,0,0.58);
    background-image: url("../images/coach.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    margin: 5px;
}


.coachDescription{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    width: 70%;
    height: 30%;
    margin: 5%;
    border-radius: 4px;
}

.coachDescription h3{
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 0 10px;
}

.coachDescription p{
    font-size: 0.8rem;
    margin-top: 10px;
    margin-left: 10px;
}


/* Section 2 */

.section2{
    width: 100%;
    min-height: 80vh;
    height: min-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: start;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.boxEvenements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    width: 600px;

    margin: 5px;

    h1{
        font-size: 3rem;
        font-weight: bold;
        margin: 0 0 20px 0;
    }

    hr{
        border: 0;
        width: 100%;
        height: 1px;
        margin-bottom: 15px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
}


.evenement{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    width: 100%;
    height: 200px;
    border-radius: 10px;

    box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.58);
    background-color: #ffffff;
    margin: 5px;
}

.evenementDescription{
    margin: 20px;
}

.evenementDescription h2{
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0 10px;

}

.evenementDescription p{
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 10px;
}



.boxLocalisation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    width: 600px;

    margin: 5px;

    h1{
        font-size: 3rem;
        font-weight: bold;
        margin: 0 0 20px 0;
    }

    hr{
        border: 0;
        width: 100%;
        height: 1px;
        margin-bottom: 15px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
}













/* Footer */

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* align-items: center; */
    background-color: #002325;
    color: #ffffff;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.4vw;
}

.brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    margin: 2vw 5vw 2vw 5vw;
    height: auto;
}

hr{
    border: 0;
    width: 30vw;
    height: 1px;
    margin-bottom: 15px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.liens{
    display: block;
    justify-content: space-around;
    align-items: start;
    flex: auto;
    float: right;
    margin: 2vw 5vw 2vw 5vw;
    height: auto;

}

.liens ul li::marker{
    font-size: 1.7vw;
}

.liens ul li{

    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
    margin: 2px;
    list-style: url("../images/logocroppednew.svg");

}

.liens ul li:hover{
    transform: translateY(-5px);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.liens ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: min(1.3vw, 2vh);
    transition: all 0.3s ease;
}



.titreclasse{
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 10px;
}



/* Page messages */


.vosMessages{
    font-size: 2rem;
}


.conversations{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: min-content;
    min-height: 80vh;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
}

.conversations form{
    width: 400px;
}

.dm img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    font-size: 0.7rem;
}

.dm p{
    margin: 10px;
    font-size: 1rem;
}

.dm{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #000000;
}






.currentChat {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.hautDePage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    min-width: 300px;
    width: 50%;
    height: 15%;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

.fenetreChat {
    display: block;
    /* flex-direction: column; */
    justify-content: start;
    min-width: 300px;
    width: 50%;
    height: 70%;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #C4D1EB;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 0px #E2E2E2;
    font-size: 1.5rem;
    overflow: auto;
    border-radius: 5px;
}


.messageUtilisateur,
.messageDestinataire {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 40px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.messageDestinataire {
    flex-direction: row-reverse;
    justify-content: start;
}













.messageUtilisateur .messageCore {
    background-color: #007179;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
    margin: 1%;
    border-radius: 10px 0 10px 10px;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.messageDestinataire .messageCore {
    background-color: #525252;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
    margin: 1%;
    border-radius: 0 10px 10px 10px;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.messageCore p {
    margin: 0;
}


.chatInput{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    width: 50%;
    height: 5%;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #C4D1EB;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 0px #E2E2E2;

    margin: 15px;

    input{
        flex: auto;
        border: none;

        font-size: 18px;
        padding: 5px 10px;
        width: 80%;
        padding-left: 15px;
        outline: none;
        color: #000000;
    }
    button{
        color: #002325;
        background: none;
        border: none;
        font-size: 30px;
        margin-right: 20px;
        margin-bottom: 5px;
    }
}


/* Page Recherche */

.boxRecherche{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: min-content;
    min-height: 80vh;


}


.searchBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    width: 50%;
    height: 5%;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #C4D1EB;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 0px #E2E2E2;

    margin: 15px;

    input{
        flex: auto;
        border: none;

        font-size: 18px;
        padding: 5px 10px;
        width: 80%;
        padding-left: 15px;
        outline: none;
        color: #000000;
    }
    button{
        color: #002325;
        background: none;
        border: none;
        font-size: 30px;
        margin-right: 20px;
        margin-bottom: 5px;
    }
}

.resultats{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    align-items: start;
    width: 90%;
    height: min-content;
    min-height: 80vh;
}

.boxCours{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: max-content;
    height: min-content;
}